    <footer class="container py-3 foot">
        <div class="row" style="background-color: rgba(232, 193, 159, 1);border-radius: 35px 35px 0px 0px;">
            <div class="col" >
                <h3>Quick links</h3>
                <ul>
                    <li><a href="{% url 'blog:home' %}">Home</a></li>
                    <li><a href="{% url 'blog:index' %}">All posts</a></li>
                    
                </ul>
            </div>
            <div class="col" >
                <h3>About</h3>
                <ul>
                    <p>I am a people person who has great interest in programming and art.Look forward to you contact with me...</p>
                </ul>
            </div>
        </div>

        <div class="row ">
 
            <div class="col-sm-12 col-md-6" style="background-color: rgba(232, 193, 159,1);">
                Template based on <a href="https://getbootstrap.com/docs/5.1/examples/blog" target="_blank">Bootstrap</a>
            </div><br>
            <div class="col-sm-12 col-md-6 text-right" style="background-color: rgba(232, 193, 159, 1);">
                <a href="#">Back to top</a>
            </div>
            <div class="col text-center" style="background-color: #402E28; color: #fff;border-radius: 0px 0px 35px 35px">
                    <p class="rights"><span>©  </span><span class="copyright-year">2021</span><span> </span><span> YALI ZHANG </span><span>All Rights Reserved</span></p>
            </div> 
                
        </div>
        </div>
        


</footer>